body{
    background-color: #eee;
}

.checkAbo{
    width: 125px;
}


/* ANIMATION */

  
  .animate-text {
    transition: color 0.1s ease-in-out;
  }



  .slide-in {
    transform: translateX(0);
    transition: transform 0.1s ease-in-out;
  }
  
  .slide-in.active {
    transform: translateX(100%);
  }

  /* PAGE PROFIL */
  .width-custom-mask-profil{
    width: 70px;
  }