body{
    background-color: #eee;
}

.checkAbo, .btnProfilModif{
    width: 125px;
}


/* ANIMATION */

  
  .animate-text {
    transition: color 0.1s ease-in-out;
  }



  .slide-in {
    transform: translateX(0);
    transition: transform 0.1s ease-in-out;
  }
  
  .slide-in.active {
    transform: translateX(100%);
  }
  .slide-in.active.end {
    transform: translateX(200%);
  }

  /* PAGE PROFIL */
  .width-custom-mask-profil{
    width: 70px;
  }



  .fileInputLabel {
    display: inline-block;
    cursor: pointer;
  }
  
  .fileInput {
    display: none;
  }