@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --main: #76FF05;
  --secondary: #6D00FF;
  --error: #bf1650;

  --primary-font: #FFFFFF;
  --secondary-font: #000000;

  --title-font: 'Roboto', sans-serif;
  --title-size: 1.3em;
  --main-font: 'Roboto', sans-serif;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  color: var(--secondary-font);
  font-size: var(--title-size);
  font-weight: bold;
}

h2{
  color: var(--secondary);
}

h3{
  color: var(--englishViolet);
}

h1, h2, h3{
  font-family: var(--title-font);
}




